// app global css in SCSS form
// app global css in Sass form

@import "~@syncfusion/ej2-base/styles/material.css";
@import "~@syncfusion/ej2-vue-gantt/styles/material.css";

/* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// // /* Track */
// ::-webkit-scrollbar-track {
//   // box-shadow: inset 0 0 5px grey;
//   border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #00a3e0;
//   border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #00a3e0;
// }

.modal-section {
  background-color: #00a3e0;
  color: white;
  text-indent: 50px;
  line-height: 2.5;
  margin-top: 20px;
  font-size: 1.2em;
}

.header-color {
  color: #3a6ea5;
}

.sub-header-color {
  color: #3a6ea5;
}

.toolbar {
  background-color: #f3f3f3;
}
